# Maven build
/target/

# TestNG outputs
/test-output/

# Reports & Logs
/reports/
/logs/
/screenshots/


# IDE files
.classpath
.project
.settings/
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Misc
*.log
*.tmp

